In [222]:
#Import library numpy, pandas dan sclikit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [223]:
#Membaca dataset dari file ke pandas dataFrame
irisDataset = pd.read_csv('testing.csv', delimiter=';', header=0)

In [224]:
irisDataset.head()

   Id                        Car    MPG  ...  Acceleration Model Origin
0   1  Chevrolet Chevelle Malibu  18.00  ...         12.00    70     US
1   2          Buick Skylark 320  15.00  ...         11.05    70     US
2   3         Plymouth Satellite  18.00  ...         11.00    70     US
3   4              AMC Rebel SST  16.00  ...         12.00    70     US
4   5                Ford Torino  17.00  ...         10.05    70     US

[5 rows x 10 columns]

In [225]:
#mengubah kelas (kolom "species") dari string ke unique-integer
irisDataset["Origin"] = pd.factorize(irisDataset.Origin)[0]

In [226]:
irisDataset.head()

   Id                        Car    MPG  ...  Acceleration Model Origin
0   1  Chevrolet Chevelle Malibu  18.00  ...         12.00    70      0
1   2          Buick Skylark 320  15.00  ...         11.05    70      0
2   3         Plymouth Satellite  18.00  ...         11.00    70      0
3   4              AMC Rebel SST  16.00  ...         12.00    70      0
4   5                Ford Torino  17.00  ...         10.05    70      0

[5 rows x 10 columns]

In [227]:
print(irisDataset)

     Id                        Car    MPG  ...  Acceleration Model Origin
0     1  Chevrolet Chevelle Malibu  18.00  ...         12.00    70      0
1     2          Buick Skylark 320  15.00  ...         11.05    70      0
2     3         Plymouth Satellite  18.00  ...         11.00    70      0
3     4              AMC Rebel SST  16.00  ...         12.00    70      0
4     5                Ford Torino  17.00  ...         10.05    70      0
..  ...                        ...    ...  ...           ...   ...    ...
95   96           Ford Gran Torino  14.00  ...         14.05    73      0
96   97       Dodge Coronet Custom  15.00  ...         12.05    73      0
97   98   Mercury Marquis Brougham  12.00  ...         11.05    73      0
98   99  Chevrolet Caprice Classic  13.00  ...         12.00    73      0
99  100                   Ford LTD  13.00  ...         13.00    73      0

[100 rows x 10 columns]

In [228]:
#menghapus kolom "id"
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [229]:
print(irisDataset)

                          Car    MPG  Cylinders  ... Acceleration Model Origin
0   Chevrolet Chevelle Malibu  18.00          8  ...        12.00    70      0
1           Buick Skylark 320  15.00          8  ...        11.05    70      0
2          Plymouth Satellite  18.00          8  ...        11.00    70      0
3               AMC Rebel SST  16.00          8  ...        12.00    70      0
4                 Ford Torino  17.00          8  ...        10.05    70      0
..                        ...    ...        ...  ...          ...   ...    ...
95           Ford Gran Torino  14.00          8  ...        14.05    73      0
96       Dodge Coronet Custom  15.00          8  ...        12.05    73      0
97   Mercury Marquis Brougham  12.00          8  ...        11.05    73      0
98  Chevrolet Caprice Classic  13.00          8  ...        12.00    73      0
99                   Ford LTD  13.00          8  ...        13.00    73      0

[100 rows x 9 columns]

In [230]:
#mengubah dataframe ke array numpy
irisDataset = irisDataset.to_numpy()

In [231]:
print(irisDataset)

[['Chevrolet Chevelle Malibu' '18.00' 8 '307.00.00' '130.00.00'
  '3504.00.00' 12.0 70 0]
 ['Buick Skylark 320' '15.00' 8 '350.00.00' '165.00.00' '3693.00.00'
  11.05 70 0]
 ['Plymouth Satellite' '18.00' 8 '318.00.00' '150.00.00' '3436.00.00'
  11.0 70 0]
 ['AMC Rebel SST' '16.00' 8 '304.00.00' '150.00.00' '3433.00.00' 12.0 70
  0]
 ['Ford Torino' '17.00' 8 '302.00.00' '140.00.00' '3449.00.00' 10.05 70 0]
 ['Ford Galaxie 500' '15.00' 8 '429.00.00' '198.00.00' '4341.00.00' 10.0
  70 0]
 ['Chevrolet Impala' '14.00' 8 '454.00.00' '220.00.00' '4354.00.00' 9.0
  70 0]
 ['Plymouth Fury iii' '14.00' 8 '440.00.00' '215.00.00' '4312.00.00' 8.05
  70 0]
 ['Pontiac Catalina' '14.00' 8 '455.00.00' '225.00.00' '4425.00.00' 10.0
  70 0]
 ['AMC Ambassador DPL' '15.00' 8 '390.00.00' '190.00.00' '3850.00.00'
  8.05 70 0]
 ['Citroen DS-21 Pallas' '16.00' 4 '133.00.00' '115.00.00' '3090.00.00'
  17.05 70 1]
 ['Chevrolet Chevelle Concours (sw)' '17.00' 8 '350.00.00' '165.00.00'
  '4142.00.00' 11.05 70 0]
 ['Ford Torino (sw)' '18.00' 8 '351.00.00' '153.00.00' '4034.00.00' 11.0
  70 0]
 ['Plymouth Satellite (sw)' '19.00' 8 '383.00.00' '175.00.00'
  '4166.00.00' 10.05 70 0]
 ['AMC Rebel SST (sw)' '20.00' 8 '360.00.00' '175.00.00' '3850.00.00'
  11.0 70 0]
 ['Dodge Challenger SE' '15.00' 8 '383.00.00' '170.00.00' '3563.00.00'
  10.0 70 0]
 ["Plymouth 'Cuda 340" '14.00' 8 '340.00.00' '160.00.00' '3609.00.00' 8.0
  70 0]
 ['Ford Mustang Boss 302' '15.00' 8 '302.00.00' '140.00.00' '3353.00.00'
  8.0 70 0]
 ['Chevrolet Monte Carlo' '15.00' 8 '400.00.00' '150.00.00' '3761.00.00'
  9.05 70 0]
 ['Buick Estate Wagon (sw)' '14.00' 8 '455.00.00' '225.00.00'
  '3086.00.00' 10.0 70 0]
 ['Toyota Corolla Mark ii' '24.00.00' 4 '113.00.00' '95.00.00'
  '2372.00.00' 15.0 70 2]
 ['Plymouth Duster' '22.00' 6 '198.00.00' '95.00.00' '2833.00.00' 15.05
  70 0]
 ['AMC Hornet' '18.00' 6 '199.00.00' '97.00.00' '2774.00.00' 15.05 70 0]
 ['Ford Maverick' '21.00' 6 '200.00.00' '85.00.00' '2587.00.00' 16.0 70 0]
 ['Datsun PL510' '27.00.00' 4 '97.00.00' '88.00.00' '2130.00.00' 14.05 70
  2]
 ['Volkswagen 1131 Deluxe Sedan' '26.00.00' 4 '97.00.00' '46.00.00'
  '1835.00.00' 20.05 70 1]
 ['Peugeot 504' '25.00.00' 4 '110.00.00' '87.00.00' '2672.00.00' 17.05 70
  1]
 ['Audi 100 LS' '24.00.00' 4 '107.00.00' '90.00.00' '2430.00.00' 14.05 70
  1]
 ['Saab 99e' '25.00.00' 4 '104.00.00' '95.00.00' '2375.00.00' 17.05 70 1]
 ['BMW 2002' '26.00.00' 4 '121.00.00' '113.00.00' '2234.00.00' 12.05 70 1]
 ['AMC Gremlin' '21.00' 6 '199.00.00' '90.00.00' '2648.00.00' 15.0 70 0]
 ['Ford F250' '10.00' 8 '360.00.00' '215.00.00' '4615.00.00' 14.0 70 0]
 ['Chevy C20' '10.00' 8 '307.00.00' '200.00.00' '4376.00.00' 15.0 70 0]
 ['Dodge D200' '11.00' 8 '318.00.00' '210.00.00' '4382.00.00' 13.05 70 0]
 ['Hi 1200D' '09.00' 8 '304.00.00' '193.00.00' '4732.00.00' 18.05 70 0]
 ['Datsun PL510' '27.00.00' 4 '97.00.00' '88.00.00' '2130.00.00' 14.05 71
  2]
 ['Chevrolet Vega 2300' '28.00.00' 4 '140.00.00' '90.00.00' '2264.00.00'
  15.05 71 0]
 ['Toyota Corolla' '25.00.00' 4 '113.00.00' '95.00.00' '2228.00.00' 14.0
  71 2]
 ['Ford Pinto' '25.00.00' 4 '98.00.00' '96.00.00' '2046.00.00' 19.0 71 0]
 ['Volkswagen Super Beetle 117' '26.00.00' 4 '97.00.00' '48.00.00'
  '1978.00.00' 20.0 71 1]
 ['AMC Gremlin' '19.00' 6 '232.00.00' '100.00.00' '2634.00.00' 13.0 71 0]
 ['Plymouth Satellite Custom' '16.00' 6 '225.00.00' '105.00.00'
  '3439.00.00' 15.05 71 0]
 ['Chevrolet Chevelle Malibu' '17.00' 6 '250.00.00' '100.00.00'
  '3329.00.00' 15.05 71 0]
 ['Ford Torino 500' '19.00' 6 '250.00.00' '88.00.00' '3302.00.00' 15.05
  71 0]
 ['AMC Matador' '18.00' 6 '232.00.00' '100.00.00' '3288.00.00' 15.05 71 0]
 ['Chevrolet Impala' '14.00' 8 '350.00.00' '165.00.00' '4209.00.00' 12.0
  71 0]
 ['Pontiac Catalina Brougham' '14.00' 8 '400.00.00' '175.00.00'
  '4464.00.00' 11.05 71 0]
 ['Ford Galaxie 500' '14.00' 8 '351.00.00' '153.00.00' '4154.00.00' 13.05
  71 0]
 ['Plymouth Fury iii' '14.00' 8 '318.00.00' '150.00.00' '4096.00.00' 13.0
  71 0]
 ['Dodge Monaco (sw)' '12.00' 8 '383.00.00' '180.00.00' '4955.00.00'
  11.05 71 0]
 ['Ford Country Squire (sw)' '13.00' 8 '400.00.00' '170.00.00'
  '4746.00.00' 12.0 71 0]
 ['Pontiac Safari (sw)' '13.00' 8 '400.00.00' '175.00.00' '5140.00.00'
  12.0 71 0]
 ['AMC Hornet Sportabout (sw)' '18.00' 6 '258.00.00' '110.00.00'
  '2962.00.00' 13.05 71 0]
 ['Chevrolet Vega (sw)' '22.00' 4 '140.00.00' '72.00.00' '2408.00.00'
  19.0 71 0]
 ['Pontiac Firebird' '19.00' 6 '250.00.00' '100.00.00' '3282.00.00' 15.0
  71 0]
 ['Ford Mustang' '18.00' 6 '250.00.00' '88.00.00' '3139.00.00' 14.05 71 0]
 ['Mercury Capri 2000' '23.00' 4 '122.00.00' '86.00.00' '2220.00.00' 14.0
  71 0]
 ['Opel 1900' '28.00.00' 4 '116.00.00' '90.00.00' '2123.00.00' 14.0 71 1]
 ['Peugeot 304' '30.00.00' 4 '79.00.00' '70.00.00' '2074.00.00' 19.05 71
  1]
 ['Fiat 124B' '30.00.00' 4 '88.00.00' '76.00.00' '2065.00.00' 14.05 71 1]
 ['Toyota Corolla 1200' '31.00.00' 4 '71.00.00' '65.00.00' '1773.00.00'
  19.0 71 2]
 ['Datsun 1200' '35.00.00' 4 '72.00.00' '69.00.00' '1613.00.00' 18.0 71 2]
 ['Volkswagen Model 111' '27.00.00' 4 '97.00.00' '60.00.00' '1834.00.00'
  19.0 71 1]
 ['Plymouth Cricket' '26.00.00' 4 '91.00.00' '70.00.00' '1955.00.00'
  20.05 71 0]
 ['Toyota Corolla Hardtop' '24.00.00' 4 '113.00.00' '95.00.00'
  '2278.00.00' 15.05 72 2]
 ['Dodge Colt Hardtop' '25.00.00' 4 '97.50.00' '80.00.00' '2126.00.00'
  17.0 72 0]
 ['Volkswagen Type 3' '23.00' 4 '97.00.00' '54.00.00' '2254.00.00' 23.05
  72 1]
 ['Chevrolet Vega' '20.00' 4 '140.00.00' '90.00.00' '2408.00.00' 19.05 72
  0]
 ['Ford Pinto Runabout' '21.00' 4 '122.00.00' '86.00.00' '2226.00.00'
  16.05 72 0]
 ['Chevrolet Impala' '13.00' 8 '350.00.00' '165.00.00' '4274.00.00' 12.0
  72 0]
 ['Pontiac Catalina' '14.00' 8 '400.00.00' '175.00.00' '4385.00.00' 12.0
  72 0]
 ['Plymouth Fury III' '15.00' 8 '318.00.00' '150.00.00' '4135.00.00'
  13.05 72 0]
 ['Ford Galaxie 500' '14.00' 8 '351.00.00' '153.00.00' '4129.00.00' 13.0
  72 0]
 ['AMC Ambassador SST' '17.00' 8 '304.00.00' '150.00.00' '3672.00.00'
  11.05 72 0]
 ['Mercury Marquis' '11.00' 8 '429.00.00' '208.00.00' '4633.00.00' 11.0
  72 0]
 ['Buick LeSabre Custom' '13.00' 8 '350.00.00' '155.00.00' '4502.00.00'
  13.05 72 0]
 ['Oldsmobile Delta 88 Royale' '12.00' 8 '350.00.00' '160.00.00'
  '4456.00.00' 13.05 72 0]
 ['Chrysler Newport Royal' '13.00' 8 '400.00.00' '190.00.00' '4422.00.00'
  12.05 72 0]
 ['Mazda RX2 Coupe' '19.00' 3 '70.00.00' '97.00.00' '2330.00.00' 13.05 72
  2]
 ['AMC Matador (sw)' '15.00' 8 '304.00.00' '150.00.00' '3892.00.00' 12.05
  72 0]
 ['Chevrolet Chevelle Concours (sw)' '13.00' 8 '307.00.00' '130.00.00'
  '4098.00.00' 14.0 72 0]
 ['Ford Gran Torino (sw)' '13.00' 8 '302.00.00' '140.00.00' '4294.00.00'
  16.0 72 0]
 ['Plymouth Satellite Custom (sw)' '14.00' 8 '318.00.00' '150.00.00'
  '4077.00.00' 14.0 72 0]
 ['Volvo 145e (sw)' '18.00' 4 '121.00.00' '112.00.00' '2933.00.00' 14.05
  72 1]
 ['Volkswagen 411 (sw)' '22.00' 4 '121.00.00' '76.00.00' '2511.00.00'
  18.0 72 1]
 ['Peugeot 504 (sw)' '21.00' 4 '120.00.00' '87.00.00' '2979.00.00' 19.05
  72 1]
 ['Renault 12 (sw)' '26.00.00' 4 '96.00.00' '69.00.00' '2189.00.00' 18.0
  72 1]
 ['Ford Pinto (sw)' '22.00' 4 '122.00.00' '86.00.00' '2395.00.00' 16.0 72
  0]
 ['Datsun 510 (sw)' '28.00.00' 4 '97.00.00' '92.00.00' '2288.00.00' 17.0
  72 2]
 ['Toyota Corolla Mark II (sw)' '23.00' 4 '120.00.00' '97.00.00'
  '2506.00.00' 14.05 72 2]
 ['Dodge Colt (sw)' '28.00.00' 4 '98.00.00' '80.00.00' '2164.00.00' 15.0
  72 0]
 ['Toyota Corolla 1600 (sw)' '27.00.00' 4 '97.00.00' '88.00.00'
  '2100.00.00' 16.05 72 2]
 ['Buick Century 350' '13.00' 8 '350.00.00' '175.00.00' '4100.00.00' 13.0
  73 0]
 ['AMC Matador' '14.00' 8 '304.00.00' '150.00.00' '3672.00.00' 11.05 73 0]
 ['Chevrolet Malibu' '13.00' 8 '350.00.00' '145.00.00' '3988.00.00' 13.0
  73 0]
 ['Ford Gran Torino' '14.00' 8 '302.00.00' '137.00.00' '4042.00.00' 14.05
  73 0]
 ['Dodge Coronet Custom' '15.00' 8 '318.00.00' '150.00.00' '3777.00.00'
  12.05 73 0]
 ['Mercury Marquis Brougham' '12.00' 8 '429.00.00' '198.00.00'
  '4952.00.00' 11.05 73 0]
 ['Chevrolet Caprice Classic' '13.00' 8 '400.00.00' '150.00.00'
  '4464.00.00' 12.0 73 0]
 ['Ford LTD' '13.00' 8 '351.00.00' '158.00.00' '4363.00.00' 13.0 73 0]]

In [232]:
#membagi dataset => 80 baris data untuk training dan 20 baris data untuk testing
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]), axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]), axis=0)

In [233]:
print(dataTraining)
len(dataTraining)

[['Chevrolet Chevelle Malibu' '18.00' 8 '307.00.00' '130.00.00'
  '3504.00.00' 12.0 70 0]
 ['Buick Skylark 320' '15.00' 8 '350.00.00' '165.00.00' '3693.00.00'
  11.05 70 0]
 ['Plymouth Satellite' '18.00' 8 '318.00.00' '150.00.00' '3436.00.00'
  11.0 70 0]
 ['AMC Rebel SST' '16.00' 8 '304.00.00' '150.00.00' '3433.00.00' 12.0 70
  0]
 ['Ford Torino' '17.00' 8 '302.00.00' '140.00.00' '3449.00.00' 10.05 70 0]
 ['Ford Galaxie 500' '15.00' 8 '429.00.00' '198.00.00' '4341.00.00' 10.0
  70 0]
 ['Chevrolet Impala' '14.00' 8 '454.00.00' '220.00.00' '4354.00.00' 9.0
  70 0]
 ['Plymouth Fury iii' '14.00' 8 '440.00.00' '215.00.00' '4312.00.00' 8.05
  70 0]
 ['Pontiac Catalina' '14.00' 8 '455.00.00' '225.00.00' '4425.00.00' 10.0
  70 0]
 ['AMC Ambassador DPL' '15.00' 8 '390.00.00' '190.00.00' '3850.00.00'
  8.05 70 0]
 ['Citroen DS-21 Pallas' '16.00' 4 '133.00.00' '115.00.00' '3090.00.00'
  17.05 70 1]
 ['Chevrolet Chevelle Concours (sw)' '17.00' 8 '350.00.00' '165.00.00'
  '4142.00.00' 11.05 70 0]
 ['Ford Torino (sw)' '18.00' 8 '351.00.00' '153.00.00' '4034.00.00' 11.0
  70 0]
 ['Plymouth Satellite (sw)' '19.00' 8 '383.00.00' '175.00.00'
  '4166.00.00' 10.05 70 0]
 ['AMC Rebel SST (sw)' '20.00' 8 '360.00.00' '175.00.00' '3850.00.00'
  11.0 70 0]
 ['Dodge Challenger SE' '15.00' 8 '383.00.00' '170.00.00' '3563.00.00'
  10.0 70 0]
 ["Plymouth 'Cuda 340" '14.00' 8 '340.00.00' '160.00.00' '3609.00.00' 8.0
  70 0]
 ['Ford Mustang Boss 302' '15.00' 8 '302.00.00' '140.00.00' '3353.00.00'
  8.0 70 0]
 ['Chevrolet Monte Carlo' '15.00' 8 '400.00.00' '150.00.00' '3761.00.00'
  9.05 70 0]
 ['Buick Estate Wagon (sw)' '14.00' 8 '455.00.00' '225.00.00'
  '3086.00.00' 10.0 70 0]
 ['Toyota Corolla Mark ii' '24.00.00' 4 '113.00.00' '95.00.00'
  '2372.00.00' 15.0 70 2]
 ['Plymouth Duster' '22.00' 6 '198.00.00' '95.00.00' '2833.00.00' 15.05
  70 0]
 ['AMC Hornet' '18.00' 6 '199.00.00' '97.00.00' '2774.00.00' 15.05 70 0]
 ['Ford Maverick' '21.00' 6 '200.00.00' '85.00.00' '2587.00.00' 16.0 70 0]
 ['Datsun PL510' '27.00.00' 4 '97.00.00' '88.00.00' '2130.00.00' 14.05 70
  2]
 ['Volkswagen 1131 Deluxe Sedan' '26.00.00' 4 '97.00.00' '46.00.00'
  '1835.00.00' 20.05 70 1]
 ['Peugeot 504' '25.00.00' 4 '110.00.00' '87.00.00' '2672.00.00' 17.05 70
  1]
 ['Audi 100 LS' '24.00.00' 4 '107.00.00' '90.00.00' '2430.00.00' 14.05 70
  1]
 ['Saab 99e' '25.00.00' 4 '104.00.00' '95.00.00' '2375.00.00' 17.05 70 1]
 ['BMW 2002' '26.00.00' 4 '121.00.00' '113.00.00' '2234.00.00' 12.05 70 1]
 ['AMC Gremlin' '21.00' 6 '199.00.00' '90.00.00' '2648.00.00' 15.0 70 0]
 ['Ford F250' '10.00' 8 '360.00.00' '215.00.00' '4615.00.00' 14.0 70 0]
 ['Chevy C20' '10.00' 8 '307.00.00' '200.00.00' '4376.00.00' 15.0 70 0]
 ['Dodge D200' '11.00' 8 '318.00.00' '210.00.00' '4382.00.00' 13.05 70 0]
 ['Hi 1200D' '09.00' 8 '304.00.00' '193.00.00' '4732.00.00' 18.05 70 0]
 ['Datsun PL510' '27.00.00' 4 '97.00.00' '88.00.00' '2130.00.00' 14.05 71
  2]
 ['Chevrolet Vega 2300' '28.00.00' 4 '140.00.00' '90.00.00' '2264.00.00'
  15.05 71 0]
 ['Toyota Corolla' '25.00.00' 4 '113.00.00' '95.00.00' '2228.00.00' 14.0
  71 2]
 ['Ford Pinto' '25.00.00' 4 '98.00.00' '96.00.00' '2046.00.00' 19.0 71 0]
 ['Volkswagen Super Beetle 117' '26.00.00' 4 '97.00.00' '48.00.00'
  '1978.00.00' 20.0 71 1]
 ['Ford Country Squire (sw)' '13.00' 8 '400.00.00' '170.00.00'
  '4746.00.00' 12.0 71 0]
 ['Pontiac Safari (sw)' '13.00' 8 '400.00.00' '175.00.00' '5140.00.00'
  12.0 71 0]
 ['AMC Hornet Sportabout (sw)' '18.00' 6 '258.00.00' '110.00.00'
  '2962.00.00' 13.05 71 0]
 ['Chevrolet Vega (sw)' '22.00' 4 '140.00.00' '72.00.00' '2408.00.00'
  19.0 71 0]
 ['Pontiac Firebird' '19.00' 6 '250.00.00' '100.00.00' '3282.00.00' 15.0
  71 0]
 ['Ford Mustang' '18.00' 6 '250.00.00' '88.00.00' '3139.00.00' 14.05 71 0]
 ['Mercury Capri 2000' '23.00' 4 '122.00.00' '86.00.00' '2220.00.00' 14.0
  71 0]
 ['Opel 1900' '28.00.00' 4 '116.00.00' '90.00.00' '2123.00.00' 14.0 71 1]
 ['Peugeot 304' '30.00.00' 4 '79.00.00' '70.00.00' '2074.00.00' 19.05 71
  1]
 ['Fiat 124B' '30.00.00' 4 '88.00.00' '76.00.00' '2065.00.00' 14.05 71 1]
 ['Toyota Corolla 1200' '31.00.00' 4 '71.00.00' '65.00.00' '1773.00.00'
  19.0 71 2]
 ['Datsun 1200' '35.00.00' 4 '72.00.00' '69.00.00' '1613.00.00' 18.0 71 2]
 ['Volkswagen Model 111' '27.00.00' 4 '97.00.00' '60.00.00' '1834.00.00'
  19.0 71 1]
 ['Plymouth Cricket' '26.00.00' 4 '91.00.00' '70.00.00' '1955.00.00'
  20.05 71 0]
 ['Toyota Corolla Hardtop' '24.00.00' 4 '113.00.00' '95.00.00'
  '2278.00.00' 15.05 72 2]
 ['Dodge Colt Hardtop' '25.00.00' 4 '97.50.00' '80.00.00' '2126.00.00'
  17.0 72 0]
 ['Volkswagen Type 3' '23.00' 4 '97.00.00' '54.00.00' '2254.00.00' 23.05
  72 1]
 ['Chevrolet Vega' '20.00' 4 '140.00.00' '90.00.00' '2408.00.00' 19.05 72
  0]
 ['Ford Pinto Runabout' '21.00' 4 '122.00.00' '86.00.00' '2226.00.00'
  16.05 72 0]
 ['Chevrolet Impala' '13.00' 8 '350.00.00' '165.00.00' '4274.00.00' 12.0
  72 0]
 ['Pontiac Catalina' '14.00' 8 '400.00.00' '175.00.00' '4385.00.00' 12.0
  72 0]
 ['Plymouth Fury III' '15.00' 8 '318.00.00' '150.00.00' '4135.00.00'
  13.05 72 0]
 ['Ford Galaxie 500' '14.00' 8 '351.00.00' '153.00.00' '4129.00.00' 13.0
  72 0]
 ['AMC Ambassador SST' '17.00' 8 '304.00.00' '150.00.00' '3672.00.00'
  11.05 72 0]
 ['Mercury Marquis' '11.00' 8 '429.00.00' '208.00.00' '4633.00.00' 11.0
  72 0]
 ['Buick LeSabre Custom' '13.00' 8 '350.00.00' '155.00.00' '4502.00.00'
  13.05 72 0]
 ['Oldsmobile Delta 88 Royale' '12.00' 8 '350.00.00' '160.00.00'
  '4456.00.00' 13.05 72 0]
 ['Chrysler Newport Royal' '13.00' 8 '400.00.00' '190.00.00' '4422.00.00'
  12.05 72 0]
 ['Mazda RX2 Coupe' '19.00' 3 '70.00.00' '97.00.00' '2330.00.00' 13.05 72
  2]
 ['AMC Matador (sw)' '15.00' 8 '304.00.00' '150.00.00' '3892.00.00' 12.05
  72 0]
 ['Chevrolet Chevelle Concours (sw)' '13.00' 8 '307.00.00' '130.00.00'
  '4098.00.00' 14.0 72 0]
 ['Ford Gran Torino (sw)' '13.00' 8 '302.00.00' '140.00.00' '4294.00.00'
  16.0 72 0]
 ['Plymouth Satellite Custom (sw)' '14.00' 8 '318.00.00' '150.00.00'
  '4077.00.00' 14.0 72 0]
 ['Volvo 145e (sw)' '18.00' 4 '121.00.00' '112.00.00' '2933.00.00' 14.05
  72 1]
 ['Volkswagen 411 (sw)' '22.00' 4 '121.00.00' '76.00.00' '2511.00.00'
  18.0 72 1]
 ['Peugeot 504 (sw)' '21.00' 4 '120.00.00' '87.00.00' '2979.00.00' 19.05
  72 1]
 ['Renault 12 (sw)' '26.00.00' 4 '96.00.00' '69.00.00' '2189.00.00' 18.0
  72 1]
 ['Ford Pinto (sw)' '22.00' 4 '122.00.00' '86.00.00' '2395.00.00' 16.0 72
  0]
 ['Datsun 510 (sw)' '28.00.00' 4 '97.00.00' '92.00.00' '2288.00.00' 17.0
  72 2]
 ['Toyota Corolla Mark II (sw)' '23.00' 4 '120.00.00' '97.00.00'
  '2506.00.00' 14.05 72 2]]

80

In [234]:
print(dataTesting)
len(dataTesting)

[['AMC Gremlin' '19.00' 6 '232.00.00' '100.00.00' '2634.00.00' 13.0 71 0]
 ['Plymouth Satellite Custom' '16.00' 6 '225.00.00' '105.00.00'
  '3439.00.00' 15.05 71 0]
 ['Chevrolet Chevelle Malibu' '17.00' 6 '250.00.00' '100.00.00'
  '3329.00.00' 15.05 71 0]
 ['Ford Torino 500' '19.00' 6 '250.00.00' '88.00.00' '3302.00.00' 15.05
  71 0]
 ['AMC Matador' '18.00' 6 '232.00.00' '100.00.00' '3288.00.00' 15.05 71 0]
 ['Chevrolet Impala' '14.00' 8 '350.00.00' '165.00.00' '4209.00.00' 12.0
  71 0]
 ['Pontiac Catalina Brougham' '14.00' 8 '400.00.00' '175.00.00'
  '4464.00.00' 11.05 71 0]
 ['Ford Galaxie 500' '14.00' 8 '351.00.00' '153.00.00' '4154.00.00' 13.05
  71 0]
 ['Plymouth Fury iii' '14.00' 8 '318.00.00' '150.00.00' '4096.00.00' 13.0
  71 0]
 ['Dodge Monaco (sw)' '12.00' 8 '383.00.00' '180.00.00' '4955.00.00'
  11.05 71 0]
 ['Dodge Colt (sw)' '28.00.00' 4 '98.00.00' '80.00.00' '2164.00.00' 15.0
  72 0]
 ['Toyota Corolla 1600 (sw)' '27.00.00' 4 '97.00.00' '88.00.00'
  '2100.00.00' 16.05 72 2]
 ['Buick Century 350' '13.00' 8 '350.00.00' '175.00.00' '4100.00.00' 13.0
  73 0]
 ['AMC Matador' '14.00' 8 '304.00.00' '150.00.00' '3672.00.00' 11.05 73 0]
 ['Chevrolet Malibu' '13.00' 8 '350.00.00' '145.00.00' '3988.00.00' 13.0
  73 0]
 ['Ford Gran Torino' '14.00' 8 '302.00.00' '137.00.00' '4042.00.00' 14.05
  73 0]
 ['Dodge Coronet Custom' '15.00' 8 '318.00.00' '150.00.00' '3777.00.00'
  12.05 73 0]
 ['Mercury Marquis Brougham' '12.00' 8 '429.00.00' '198.00.00'
  '4952.00.00' 11.05 73 0]
 ['Chevrolet Caprice Classic' '13.00' 8 '400.00.00' '150.00.00'
  '4464.00.00' 12.0 73 0]
 ['Ford LTD' '13.00' 8 '351.00.00' '158.00.00' '4363.00.00' 13.0 73 0]]

20

In [235]:
#memecah dataset ke input label
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

['130.00.00' '165.00.00' '150.00.00' '150.00.00' '140.00.00' '198.00.00'
 '220.00.00' '215.00.00' '225.00.00' '190.00.00' '115.00.00' '165.00.00'
 '153.00.00' '175.00.00' '175.00.00' '170.00.00' '160.00.00' '140.00.00'
 '150.00.00' '225.00.00' '95.00.00' '95.00.00' '97.00.00' '85.00.00'
 '88.00.00' '46.00.00' '87.00.00' '90.00.00' '95.00.00' '113.00.00'
 '90.00.00' '215.00.00' '200.00.00' '210.00.00' '193.00.00' '88.00.00'
 '90.00.00' '95.00.00' '96.00.00' '48.00.00' '170.00.00' '175.00.00'
 '110.00.00' '72.00.00' '100.00.00' '88.00.00' '86.00.00' '90.00.00'
 '70.00.00' '76.00.00' '65.00.00' '69.00.00' '60.00.00' '70.00.00'
 '95.00.00' '80.00.00' '54.00.00' '90.00.00' '86.00.00' '165.00.00'
 '175.00.00' '150.00.00' '153.00.00' '150.00.00' '208.00.00' '155.00.00'
 '160.00.00' '190.00.00' '97.00.00' '150.00.00' '130.00.00' '140.00.00'
 '150.00.00' '112.00.00' '76.00.00' '87.00.00' '69.00.00' '86.00.00'
 '92.00.00' '97.00.00']

80

In [236]:
#mendefinisikan decision tree classifier
model = tree.DecisionTreeClassifier()

In [237]:
#mentraining model
model = model.fit(inputTraining, labelTraining)

ValueError: ignored

In [ ]:
#memprediksi input data testing
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

In [ ]:
#menghitung akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")